<div class="dashboard-container">
  <div class="header">
    <h1>Dashboard</h1>

    <button mat-flat-button (click)="openCadastroVendas()">
      <mat-icon>add</mat-icon>
      Cadastrar Venda
    </button>
  </div>

  @if (!loading) {
  <div class="dashboard-content">
    <div class="cards">
      @for(card of dashboardCards; track card) {
      <app-dashboard-card [icon]="card.icon ?? '' | assetUrl" [cardMetric]="card.cardMetric"
        [efficiencyPercentage]="card.efficiencyPercentage" [label]="card.label" [isCurrency]="card.isCurrency"
        [isPositive]="card.isPositive" [showFooter]="false"></app-dashboard-card>
      }
    </div>

    <div class="chart">
      <mat-card class="chart-card">
        <apx-chart [series]="chartOptions.series || []" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
          [dataLabels]="chartOptions.dataLabels || {}" [plotOptions]="chartOptions.plotOptions!"
          [title]="chartOptions.title!"></apx-chart>
      </mat-card>
    </div>
  </div>

  <div class="products">
    <mat-card class="products__card">
      <div class="products__header">
        <h2>Vendas</h2>
      </div>
      @if(!!allVendas){
      <div class="products__content">
        <app-generic-table [data]="allVendas" [columns]="{
            nameHarvest: 'Produto - Safra',
            location: 'Localização',
            date: {
              label: 'Data',
              format: 'date'
            },
            amount: { label: 'Quantidade', format: 'number' },
            venda: { label: 'Valor', format: 'currency' }
          }">
        </app-generic-table>
      </div>
      }
    </mat-card>
  </div>

  }
  <div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>