<div class="dashboard-container">
  <div class="header">
    <h1>Vendas</h1>
  </div>

  @if (!loading) {

  <div class="dashboard-content">
    <div class="cards">
      @for(card of dashboardCards; track card) {
        <app-dashboard-card
          [icon]="card.icon | assetUrl"
          [cardMetric]="card.cardMetric"
          [efficiencyPercentage]="card.efficiencyPercentage"
          [label]="card.label"
          [isCurrency]="card.isCurrency"
          [isPositive]="card.isPositive"
        ></app-dashboard-card>
      }
    </div>

    <div class="chart">
      <mat-card class="chart-card">
        <apx-chart
          [series]="chartOptions.series || []"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [dataLabels]="chartOptions.dataLabels || {}"
          [plotOptions]="chartOptions.plotOptions!"
          [title]="chartOptions.title!"
        ></apx-chart>
      </mat-card>
    </div>
  </div>

  <div class="products">
    <mat-card>Produtos</mat-card>
  </div>

  }
</div>
