<mat-card class="dashboard-card">
  <div class="dashboard-card__content">
    <div class="dashboard-card__info">
      <h3 class="dashboard-card__title">{{ label }}</h3>
      <h5 class="dashboard-card__metric">
        {{
          isCurrency ? (cardMetric | currency : "BRL") : (cardMetric | number)
        }}
      </h5>
    </div>
    <div class="dashboard-card__image-container">
      @if(icon){
        <img [src]="icon" alt="Icon" class="dashboard-card__icon-img" />
      }
    </div>
  </div>
  @if(showFooter) {
     <div class="dashboard-card__footer" >
    <span
      class="dashboard-card__value"
      [class.dashboard-card__value--positive]="isPositive"
    >
      <mat-icon
        class="dashboard-card__icon"
        [fontIcon]="trendIcon()"
      ></mat-icon>
      {{ efficiencyPercentage }}%
    </span>
    {{ (isPositive ? "up" : "down") | titlecase }} from past week
  </div>
  }

 
</mat-card>
