<div class="dashboard-container">
  <div class="header">
    <h1>Dashboard</h1>

    <button mat-flat-button (click)="openCadastroProdutos()">
      <mat-icon>add</mat-icon>
      Cadastrar Produto
    </button>
  </div>

  @if (!loading) {

  <div class="dashboard-content">
    <div class="cards">
      @for(card of dashboardCards; track card) {
      <app-dashboard-card
        [icon]="card.icon ? (card.icon | assetUrl) : ''"
        [cardMetric]="card.cardMetric"
        [efficiencyPercentage]="card.efficiencyPercentage"
        [label]="card.label"
        [isCurrency]="card.isCurrency"
        [isPositive]="card.isPositive"
      ></app-dashboard-card>
      }
    </div>

    <div class="chart">
      <mat-card class="chart-card">
        <apx-chart
          [series]="chartOptions.series || []"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [dataLabels]="chartOptions.dataLabels || {}"
          [plotOptions]="chartOptions.plotOptions!"
          [title]="chartOptions.title!"
        ></apx-chart>
      </mat-card>
    </div>
  </div>

  <div class="products">
    <mat-card class="products__card">
      <div class="products__header">
        <h2>Produtos</h2>
      </div>
      @if(!!products){
      <div class="products__content">
        <app-generic-table
          [data]="products"
          [columns]="{
            productName: 'Produto',
            locationLotes: 'Localização',
            dateTime: { label: 'Data', format: 'date' },
            piece: { label: 'Quantidade', format: 'number' },
            lucros: { label: 'Lucros', format: 'currency' }
          }"
        >
        </app-generic-table>
      </div>
      }
    </mat-card>
  </div>

  }
  <div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
